<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <div ng-app="myShoppingList" ng-controller="myCtrl" class="ng-cloak">
    add item<input type="text" ng-model="new_product" ng-keypress="onInputEnterKeyDown($event)">
    <ul>
      <li ng-repeat="item in products track by $index">
        {{ item }}
        <button>edit</button>
        <button ng-click="removeProduct($index)">remove</button>
      </li>
    </ul>
  </div>
  

  <script>
    var app = angular.module("myShoppingList", []);
  
    app.controller("myCtrl", function ($scope) {

      $scope.new_product = "";
      $scope.products = [
        "milk",
        "bread",
        "cheese"
      ];
      $scope.onInputEnterKeyDown = function (keyEvent) {
        if (keyEvent.which == 13) {

          is_product_valid = $scope.validateProduct();
          if (!is_product_valid) return;
          $scope.addProduct();


        }
      }
      $scope.addProduct = function () {
        $scope.products.unshift($scope.new_product);
        $scope.new_product=null;
      }
      $scope.validateProduct = function () {
        if (!$scope.new_product) {
          return false;
        }
        return true;
      }
      $scope.removeProduct = function($index){
        $scope.products.splice($index,1);
      }

    })
  </script>
</body>

</html>