<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <div ng-app="todoList02" ng-controller="myCtrl as ctrl" class="ng-cloak">
    add item<input type="text" ng-model="ctrl.new_product" ng-keypress="ctrl.onInputEnterKeyDown($event)">
    <button ng-click="ctrl.addProduct()">add</button>
    <ul>
      <li ng-repeat="item in ctrl.products track by $index">
        {{ item }}
        <div ng-show="ctrl.editable!==$index">
          <button ng-click="ctrl.editable=$index;">edit</button>
          <button ng-click="ctrl.removeProduct($index)">remove</button>
        </div>
        <div ng-if="ctrl.editable==$index">
          <input id="input_edit_product_{{ $index }}" type="text" value="{{ item }}">
          <button ng-click="ctrl.updateProduct('input_edit_product_'+$index,$index)">update</button>
          <button ng-click="ctrl.cancelEdit()">cancel</button>
        </div>
      </li>
    </ul>
  </div>


  <script>
    var app = angular.module("todoList02", []);

    app.controller("myCtrl", function () {
      var self = this;

      self.editable = null;
      self.new_product = "";
      self.products = [
        "milk",
        "bread",
        "cheese"
      ];
      self.clearNeewProductInput = function () {
        self.new_product = null;
      }
      self.onInputEnterKeyDown = function (keyEvent) {
        if (keyEvent.which == 13) {

          is_product_valid = self.validateProduct();
          if (!is_product_valid) return;
          self.addProduct(self.new_product);
          self.clearNeewProductInput();


        }
      }
      self.addProduct = function (new_product) {
        if (!self.validateProduct(new_product)) {
          return;
        } else {
          console.log(new_product);
          self.products.unshift(new_product);
          self.clearNeewProductInput();
        }
      }
      self.validateProduct = function (product_name) {
        const regex = /^[\S]+.*/;
        if (!regex.test(product_name)) {
          return false;
        }
        return true;
      }
      self.removeProduct = function (index) {
        self.products.splice(index, 1);
      }
      self.updateProduct = function (input_id, index) {
        let input = document.querySelector(`#${input_id}`);
        let new_product_value = input.value;

        self.editable = null;

        if (!self.validateProduct(new_product_value)) {
          return;
        }
        self.products[index] = new_product_value;

      }
      self.cancelEdit = function () {
        self.editable = null;
        return;
      }

    })
  </script>
</body>

</html>